@media (min-width: 768px) {
    .sermon-card {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: stretch;
    }

    .sermon-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
