@media (min-width:768px){
    .menu-toggle{
        display:none;
    }

    .nav-menu{
        display:flex;
        align-items:center;
        gap:2rem;
    }

    .nav-menu.open{
        position:static;
        flex-direction:row;
        padding:0;
        box-shadow:none;
        width:auto;
    }
}
